<%- include("header") -%>

        <% for(key in conteudo) { %>
        <div class="postCard">
            <h1><%= conteudo[key].nome %></h1>
            <article>
                <%= conteudo[key].tipo %>
            </article>
            <div class="postCardLink">
                <a href="/post/<%= conteudo[key].id %>">
                    <button class="btnReadMore">ME CONHECA</button>
                </a>
            </div>
        </div>
    <% } %>

<%- include("footer") -%>